<div class="container son5" >

  <h1 >HELLO</h1>
  <h2> I'M</h2>
  <div class="box">J</div>
  <div class="box">A</div>
  <div class="box">D</div>
  <div class="box">O</div>
  <div class="box">N</div>

  <p>You are worried about <strong>planning</strong> an <strong>event</strong> for a company or individuals do not know what the work needs to be done, scripting the equipment how to organize a successful event, let <strong>JADON</strong> media help you with the experience. We have experience in organizing many events, we understand the work of designing the script to create the most economical and unique plan with our company's event service.</p>

  <h5>Why should you choose JADON media as an event organizer?</h5>
  <p>Before making a plan to consult, we will need to know all the details but the organizational space, the size of the program and the budget so that the staff can make the most detailed quotation before signing the contract. . below is the strength of <a href="#"  >JADON</a></p>

  <h5>Why should you care about the quality of the event organization's work process?</h5>
  <h6>Strengths and ways of working of Minh Vu media before consulting to sign an event contract</h6>
  <ul>
    <li>Come up with a unique and unique creative idea that is planned by an experienced team to organize the most thoughtful event. easily dissect each item</li>
    <li>The team of experienced staff organizes the event staff in a professional, responsible, thorough and detailed manner to ensure the absolute success of the event.</li>
    <li>The special thing of JADON media company is that the equipment is professionally invested and specializes in organizing events in Hanoi, so the price is always reasonable and the cheapest. Optimizing time and money for customers.
    </li>
    <li>JADON media Towards becoming a leading event company in the field of events, performing events on time, ensuring the right requirements, closely monitoring during the organization, controlling and checking before shipping. organize events, organize professional events, coordinate staff who dare to close the event.</li>
    <li>Quote clearly dissected each item and item in the most detail</li>
  </ul>



</div>


<div class="wrapper1">
  <div class="photobanner">
    <img class="first" src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg" alt="" />
    <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg " alt="" />
    <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg " alt="" />
    <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg " alt="" />
    <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg " alt="" />
    <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg " alt="" />
    <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg " alt="" />
    <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg " alt="" />
    <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg " alt="" />
    <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg " alt="" />
  </div>
</div>

