

<div class="container son5" >


  <h1 class="son1" >HELLO</h1>
  <div id="aishiteru" style="    padding-left: 830px">
    <i class="fa fa-heart"></i>
  </div>
  <h3 class="son1" style="padding-left: 817px"> I'M</h3>



  <div class="box">J</div>
  <div class="box">A</div>
  <div class="box">D</div>
  <div class="box">O</div>
  <div class="box">N</div>


<!--<div class="son2" style="color: #fdb055">-->
<!--  <p>You are worried about <strong>planning</strong> an <strong>event</strong> for a company or individuals do not know what the work needs to be done, scripting the equipment how to organize a successful event, let <strong>JADON</strong> media help you with the experience. We have experience in organizing many events, we understand the work of designing the script to create the most economical and unique plan with our company's event service.</p>-->

<!--  <h5>Why should you choose JADON media as an event organizer?</h5>-->
<!--  <p>Before making a plan to consult, we will need to know all the details but the organizational space, the size of the program and the budget so that the staff can make the most detailed quotation before signing the contract. . below is the strength of <a href="#"  >JADON</a></p>-->

<!--  <h5>Why should you care about the quality of the event organization's work process?</h5>-->
<!--  <h6>Strengths and ways of working of Minh Vu media before consulting to sign an event contract</h6>-->
<!--  <ul>-->
<!--    <li>Come up with a unique and unique creative idea that is planned by an experienced team to organize the most thoughtful event. easily dissect each item</li>-->
<!--    <li>The team of experienced staff organizes the event staff in a professional, responsible, thorough and detailed manner to ensure the absolute success of the event.</li>-->
<!--    <li>The special thing of JADON media company is that the equipment is professionally invested and specializes in organizing events in Hanoi, so the price is always reasonable and the cheapest. Optimizing time and money for customers.-->
<!--    </li>-->
<!--    <li>JADON media Towards becoming a leading event company in the field of events, performing events on time, ensuring the right requirements, closely monitoring during the organization, controlling and checking before shipping. organize events, organize professional events, coordinate staff who dare to close the event.</li>-->
<!--    <li>Quote clearly dissected each item and item in the most detail</li>-->
<!--  </ul>-->
<!--</div>-->


</div>

<div class="testimonials" style="    padding-top: 100px;
    padding-bottom: 100px;">
  <div class="testimonial-inner">
    <h3>
      WHY SHOULD CHOOSE US</h3>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">

          <div class="name"><h6>100% success, no extra</h6>
          </div>

          <p>We are committed to organizing events with 100% success and customers will not be charged additional costs during the implementation process...</p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">

          <div class="name"><h6>Creative ideas</h6>
           </div>

          <p>Many of our customers, after using the company's services, have also given very good feedback and reviews, from the professional staff...</p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">

          <div class="name"><h6>Professional consulting</h6></div>

          <p> We own experts in the field of event organization: groundbreaking, inauguration, grand opening, groundbreaking ... will advise you on all... </p>
        </div>
      </div>
    </div>
    <div class="border"></div>
  </div>
</div>


<div class="testimonials">
  <div class="testimonial-inner">
    <h3>SERVICES PROVIDED</h3>
    <div class="border"></div>
  </div>
</div>
<div class="cast-container" id="casts">

  <div id="cards-wrapper">

    <div class="card1">

      <img id="cast" src="https://media0.giphy.com/media/3o6gE9yFkjC2oXaVC8/giphy.gif?cid=ecf05e47jt1t50g04mot1yxj5u0gevwy5d9zi54sgxja6yoo&rid=giphy.gif&ct=g" alt="roy scheider" width="100%" >

      <div class="rectangle"><br>Wedding <br><br> Planning</div>
    </div>

    <div class="card2">
      <img id="cast" src="https://phunugioi.com/wp-content/uploads/2020/12/hinh-chuc-mung-sinh-nhat-an-tuong.gif" alt="robert shaw" width="100%" >
      <div class="rectangle"><br>Birthday <br><br>Parties</div>
    </div>
    <div class="card3">
      <img id="cast" src="https://media0.giphy.com/media/huXr9lS1bMDzNx29yy/giphy.gif?cid=ecf05e47ns2t8jmk8vlwc7o88lhfxsvc08ixbxj239xc8b7y&rid=giphy.gif&ct=g" alt="richard dreyfuss" width="100%" >
      <div class="rectangle"><br>Opening  <br><br>Ceremony</div>
    </div>
    <div class="card4">
      <img id="cast" src="https://media1.giphy.com/media/VNgNr81Nib4ghRQzeP/200w.gif?cid=ecf05e47jd1wslu5ezp3g65f9sojriokeiv9dktrj95c3k16&rid=200w.gif&ct=g" alt="Lorraine Gary" width="100%" >
      <div class="rectangle"><br>Outdoor  <br><br>Party</div>
    </div>
    <div class="card5">
      <img id="cast" src="https://media4.giphy.com/media/MHjWmx8lNEkVV4m1BX/200w.gif?cid=ecf05e4764lzp518n8zlb4mntnx3ihia9zmi21uk2iifd1m0&rid=200w.gif&ct=g" alt="Murray Hamilton" width="100%" >
      <div class="rectangle"><br>Annual shows at <br><br> School </div>
    </div>
    <div class="card6">
      <img id="cast" src="https://media2.giphy.com/media/l2JhxfHWMBWuDMIpi/200w.gif?cid=ecf05e47iaqkr16z7di2ggdfctksb3nrzwtg80cmw7wwltcm&rid=200w.gif&ct=g" alt="Jeffrey Kramer" width="100%" >
      <div class="rectangle"><br>Pet  <br><br>Organization</div>
    </div>
  </div>
</div>
<div class="border"></div>



    <div class="wrapper1">
  <div class="photobanner">
    <img class="first" src="https://sukiendana.vn/wp-content/uploads/2022/06/su-kien-ngoai-troi.jpg" alt="" />
    <img src="https://cybershow.vn/wp-content/uploads/2018/05/IMG_7567-e1527195039504.jpg " alt="" />
    <img src="https://aitvietnam.com/wp-content/uploads/2022/02/to-chuc-su-kien-ngoai-troi-13-min.jpg " alt="" />
    <img src="https://cuoihoilongphung.com/Uploads/files/trang-tri-tiec-cuoi-ngoai-troi-don-gian-1.jpg " alt="" />
    <img src="https://sukiendana.vn/wp-content/uploads/2022/06/su-kien-ngoai-troi.jpg " alt="" />
    <img src="http://jtravel.com.vn/wp-content/uploads/2021/03/san-khau-ngoai-troi.jpg " alt="" />
    <img src="https://kingsplace36.com/wp-content/uploads/2020/12/to-chuc-su-kien-ngoai-troi-2.jpg " alt="" />
    <img src="https://ctmpalace.vn/ckfinder/userfiles/images/Ti%E1%BB%87c%20ngo%C3%A0i%20tr%E1%BB%9Di/Ti%E1%BB%87c%20c%C6%B0%E1%BB%9Bi%20ngo%C3%A0i%20tr%E1%BB%9Di.jpg " alt="" />
    <img src="https://www.sukien-teambuilding.com/wp-content/uploads/kinh-nghiem-to-chuc-su-kien-chuyen-nghiep-thanh-cong-am-thanh-anh-sang-san-khau-mc.jpg " alt="" />
    <img src="https://inhat.vn/wp-content/uploads/2021/05/cho-thue-thiet-bi-su-kien-2.jpg " alt="" />
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" id="svg5" version="1.1" viewBox="-5 -5 278 56" style="    background-color: #212529">
  <filter id="blur">
    <feGaussianBlur stdDeviation="1.6" />
  </filter>
  <g id="layer1" transform="translate(29.1 -127.42)">
    <path id="line" d="M-28.73 167.2c26.43 9.21 68.46-9.46 85.45-12.03 18.45-2.78 32.82 4.86 28.75 9.83-3.82 4.66-25.77-21.18-14.81-31.5 9.54-8.98 17.64 10.64 16.42 17.06-1.51-6.2 2.95-26.6 14.74-22.11 11.7 4.46-4.33 49.03-15.44 44.08-6.97-3.1 15.44-16.26 26.1-16 23.03.56 55.6 27.51 126.63 3.36" pathLength="1" />
  </g>
  <g id="layer2" transform="translate(29.1 -127.42)">
    <path filter="url(#blur)" id="point" d="M-28.73 167.2c26.43 9.21 68.46-9.46 85.45-12.03 18.45-2.78 32.82 4.86 28.75 9.83-3.82 4.66-25.77-21.18-14.81-31.5 9.54-8.98 17.64 10.64 16.42 17.06-1.51-6.2 2.95-26.6 14.74-22.11 11.7 4.46-4.33 49.03-15.44 44.08-6.97-3.1 15.44-16.26 26.1-16 23.03.56 55.6 27.51 126.63 3.36" pathLength="1" />
  </g>
</svg>
