

<section class="rsg-feature-block rsg-testimonial-cards-block">

  <div class="rsg-feature-block__container">
    <div class="rsg-feature-block__content rsg-testimonial-cards-block__text-content">
      <h2 class="rsg-feature-block__text-title ">Loved by Independent professionals everywhere</h2>
      <h3 class="rsg-feature-block__text-title-secondary ">
        <strong>93% of members</strong> would recommend HoneyBook to a friend
      </h3>
    </div>

    <div class="rsg-feature-block__content rsg-testimonial-cards-block__reviews-content">

      <div class="rsg-testimonial-cards-block__column-one">

        <div class="rsg-testimonial-card ">
          <div class="rsg-testimonial-card__image-container">
            <div class="rsg-media-element rsg-testimonial-card__face">
              <img width="80" height="80" class="" alt="Danielle J." style="" src="https://res.cloudinary.com/honeybook/image/upload/c_thumb,dpr_2.0,f_auto,fl_lossy,g_faces,h_80,q_auto,r_max,w_80/v1/marketing_site/testimonials/member-5.png">
            </div>
            <div class="rsg-media-element rsg-testimonial-card__logo">
              <img class="" alt="Business Consultant" style="" src="https://res.cloudinary.com/honeybook/image/upload/c_scale,dpr_2.0,f_auto,fl_lossy,q_auto,w_auto/v1/marketing_site/testimonials/logo-1.png">
            </div>
          </div>
          <div class="rsg-testimonial-card__text">“
            <!-- -->HoneyBook makes my client experience look and feel professional and helps my clients be at peace while working with me. I love having all emails, scheduling, legal docs, and project details in one easy-to-use place!
            <!-- -->”
          </div>
          <div class="rsg-testimonial-card__name">Danielle J.</div>
          <div class="rsg-testimonial-card__title">Business Consultant</div>
        </div>

        <div class="rsg-testimonial-card ">
          <div class="rsg-testimonial-card__image-container">
            <div class="rsg-media-element rsg-testimonial-card__face">
              <img width="80" height="80" class="" alt="Angie M." style="" src="https://res.cloudinary.com/honeybook/image/upload/c_thumb,dpr_2.0,f_auto,fl_lossy,g_faces,h_80,q_auto,r_max,w_80/v1/marketing_site/testimonials/member-3.png">
            </div>
            <div class="rsg-media-element rsg-testimonial-card__logo">
              <img class="" alt="Digital marketing strategist" style="" src="https://res.cloudinary.com/honeybook/image/upload/c_scale,dpr_2.0,f_auto,fl_lossy,q_auto,w_auto/v1/marketing_site/testimonials/logo-2.png">
            </div>
          </div>
          <div class="rsg-testimonial-card__text">“
            <!-- -->HoneyBook has made 100% of my client work so much easier. I’m not having to create something new for each person.
            <!-- -->”
          </div>
          <div class="rsg-testimonial-card__name">Angie M.</div>
          <div class="rsg-testimonial-card__title">Digital marketing strategist</div>
        </div>

      </div>

      <div class="rsg-testimonial-cards-block__column-two">

        <div class="rsg-testimonial-card ">
          <div class="rsg-testimonial-card__image-container">
            <div class="rsg-media-element rsg-testimonial-card__face">
              <img width="80" height="80" class="" alt="Mark D." style="" src="https://res.cloudinary.com/honeybook/image/upload/c_thumb,dpr_2.0,f_auto,fl_lossy,g_faces,h_80,q_auto,r_max,w_80/v1/marketing_site/testimonials/member-2.png">
            </div>
            <div class="rsg-media-element rsg-testimonial-card__logo">
              <img class="" alt="Photographer" style="" src="https://res.cloudinary.com/honeybook/image/upload/c_scale,dpr_2.0,f_auto,fl_lossy,q_auto,w_auto/v1/marketing_site/testimonials/logo-3.png">
            </div>
          </div>
          <div class="rsg-testimonial-card__text">“
            <!-- -->Get faster bookings, get better bookings, and your clients are going to love you for it.
            <!-- -->”
          </div>
          <div class="rsg-testimonial-card__name">Mark D.</div>
          <div class="rsg-testimonial-card__title">Photographer</div>
        </div>

        <div class="rsg-testimonial-card ">
          <div class="rsg-testimonial-card__image-container">
            <div class="rsg-media-element rsg-testimonial-card__face">
              <img width="80" height="80" class="" alt="Dianuh A." style="" src="https://res.cloudinary.com/honeybook/image/upload/c_thumb,dpr_2.0,f_auto,fl_lossy,g_faces,h_80,q_auto,r_max,w_80/v1/marketing_site/testimonials/member-1.png">
            </div>
            <div class="rsg-media-element rsg-testimonial-card__logo">
              <img class="" alt="Artist" style="" src="https://res.cloudinary.com/honeybook/image/upload/c_scale,dpr_2.0,f_auto,fl_lossy,q_auto,w_auto/v1/marketing_site/testimonials/logo-4.png">
            </div>
          </div>
          <div class="rsg-testimonial-card__text">“
            <!-- -->I love HoneyBook for all things CRM. I do everything from inquiry, booking, delivery to closing out (sending out thank you messages). It’s really helped streamline my process!
            <!-- -->”
          </div>
          <div class="rsg-testimonial-card__name">Dianuh A.</div>
          <div class="rsg-testimonial-card__title">Artist</div>
        </div>

        <a class="rsg-testimonial-cards-block__link" href="review">Read more reviews
          <!-- -->
          <span class="icon-container nx-nx-arrow-right-42-container rsg-testimonial-cards-block__arrow">
	            <i class="icon icon-hb-nx-nx-arrow-right-42"></i>
	          </span>
        </a>

      </div>

    </div>
  </div>

</section>



<div class="col-lg-10 offset-lg-1 pt-5 pb-5 bg-dark text-light">
  <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:200px;">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i> Everybody is a genius. But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid.
          </p>
          <footer class="blockquote-footer">Albert Einstein <cite title="Source Title">genius</cite></footer>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </p>
        </blockquote>
      </div>
      <div class="carousel-item text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i> Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.
          </p>
          <footer class="blockquote-footer">Albert Einstein <cite title="Source Title">genius</cite></footer>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p>
        </blockquote>
      </div>
      <div class="carousel-item text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i> A person who never made a mistake never tried anything new.
          </p>
          <footer class="blockquote-footer">Albert Einstein <cite title="Source Title">genius</cite></footer>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p>
        </blockquote>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
    </ol>
  </div>
</div>




<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
<h1>Stars rating system</h1>
<div class="product-review-stars">
  <input type="radio" id="star5" name="rating" value="5" class="visuallyhidden" /><label for="star5" title="Rocks!">★</label>
  <input type="radio" id="star4" name="rating" value="4" class="visuallyhidden" /><label for="star4" title="Pretty good">★</label>
  <input type="radio" id="star3" name="rating" value="3" class="visuallyhidden" /><label for="star3" title="Meh">★</label>
  <input type="radio" id="star2" name="rating" value="2" class="visuallyhidden" /><label for="star2" title="Kinda bad">★</label>
  <input type="radio" id="star1" name="rating" value="1" class="visuallyhidden" /><label for="star1" title="Sucks big time">★</label>
</div>
