

<section class="rsg-feature-block rsg-testimonial-cards-block" style="padding-top: 300px">

  <div class="rsg-feature-block__container">
    <div class="rsg-feature-block__content rsg-testimonial-cards-block__text-content">
      <h2 class="rsg-feature-block__text-title ">Loved by Independent professionals everywhere</h2>
      <h3 class="rsg-feature-block__text-title-secondary ">
        <strong>93% of members</strong> would recommend JaDon to a friend
      </h3>
    </div>

    <div class="rsg-feature-block__content rsg-testimonial-cards-block__reviews-content">

      <div class="rsg-testimonial-cards-block__column-one">

        <div class="rsg-testimonial-card ">
          <div class="rsg-testimonial-card__image-container">
            <div class="rsg-media-element rsg-testimonial-card__face">
              <img width="80" height="80" class="" alt="Danielle J." style="" src="https://res.cloudinary.com/honeybook/image/upload/c_thumb,dpr_2.0,f_auto,fl_lossy,g_faces,h_80,q_auto,r_max,w_80/v1/marketing_site/testimonials/member-5.png">
            </div>
            <div class="rsg-media-element rsg-testimonial-card__logo">
              <img class="" alt="Business Consultant" style="" src="https://res.cloudinary.com/honeybook/image/upload/c_scale,dpr_2.0,f_auto,fl_lossy,q_auto,w_auto/v1/marketing_site/testimonials/logo-1.png">
            </div>
          </div>
          <div class="rsg-testimonial-card__text">“
            <!-- -->JaDon makes my client experience look and feel professional and helps my clients be at peace while working with me. I love having all emails, scheduling, legal docs, and project details in one easy-to-use place!
            <!-- -->”
          </div>
          <div class="rsg-testimonial-card__name">Danielle J.</div>
          <div class="rsg-testimonial-card__title">Business Consultant</div>
        </div>

        <div class="rsg-testimonial-card ">
          <div class="rsg-testimonial-card__image-container">
            <div class="rsg-media-element rsg-testimonial-card__face">
              <img width="80" height="80" class="" alt="Angie M." style="" src="https://res.cloudinary.com/honeybook/image/upload/c_thumb,dpr_2.0,f_auto,fl_lossy,g_faces,h_80,q_auto,r_max,w_80/v1/marketing_site/testimonials/member-3.png">
            </div>
            <div class="rsg-media-element rsg-testimonial-card__logo">
              <img class="" alt="Digital marketing strategist" style="" src="https://res.cloudinary.com/honeybook/image/upload/c_scale,dpr_2.0,f_auto,fl_lossy,q_auto,w_auto/v1/marketing_site/testimonials/logo-2.png">
            </div>
          </div>
          <div class="rsg-testimonial-card__text">“
            <!-- -->JaDon has made 100% of my client work so much easier. I’m not having to create something new for each person.
            <!-- -->”
          </div>
          <div class="rsg-testimonial-card__name">Angie M.</div>
          <div class="rsg-testimonial-card__title">Digital marketing strategist</div>
        </div>

      </div>

      <div class="rsg-testimonial-cards-block__column-two">

        <div class="rsg-testimonial-card ">
          <div class="rsg-testimonial-card__image-container">
            <div class="rsg-media-element rsg-testimonial-card__face">
              <img width="80" height="80" class="" alt="Mark D." style="" src="https://res.cloudinary.com/honeybook/image/upload/c_thumb,dpr_2.0,f_auto,fl_lossy,g_faces,h_80,q_auto,r_max,w_80/v1/marketing_site/testimonials/member-2.png">
            </div>
            <div class="rsg-media-element rsg-testimonial-card__logo">
              <img class="" alt="Photographer" style="" src="https://res.cloudinary.com/honeybook/image/upload/c_scale,dpr_2.0,f_auto,fl_lossy,q_auto,w_auto/v1/marketing_site/testimonials/logo-3.png">
            </div>
          </div>
          <div class="rsg-testimonial-card__text">“
            <!-- -->Get faster bookings, get better bookings, and your clients are going to love you for it.
            <!-- -->”
          </div>
          <div class="rsg-testimonial-card__name">Mark D.</div>
          <div class="rsg-testimonial-card__title">Photographer</div>
        </div>

        <div class="rsg-testimonial-card ">
          <div class="rsg-testimonial-card__image-container">
            <div class="rsg-media-element rsg-testimonial-card__face">
              <img width="80" height="80" class="" alt="Dianuh A." style="" src="https://res.cloudinary.com/honeybook/image/upload/c_thumb,dpr_2.0,f_auto,fl_lossy,g_faces,h_80,q_auto,r_max,w_80/v1/marketing_site/testimonials/member-1.png">
            </div>
            <div class="rsg-media-element rsg-testimonial-card__logo">
              <img class="" alt="Artist" style="" src="https://res.cloudinary.com/honeybook/image/upload/c_scale,dpr_2.0,f_auto,fl_lossy,q_auto,w_auto/v1/marketing_site/testimonials/logo-4.png">
            </div>
          </div>
          <div class="rsg-testimonial-card__text">“
            <!-- -->I love JaDon for all things CRM. I do everything from inquiry, booking, delivery to closing out (sending out thank you messages). It’s really helped streamline my process!
            <!-- -->”
          </div>
          <div class="rsg-testimonial-card__name">Dianuh A.</div>
          <div class="rsg-testimonial-card__title">Artist</div>
        </div>

        <a class="rsg-testimonial-cards-block__link" href="review">Read more reviews
          <!-- -->
          <span class="icon-container nx-nx-arrow-right-42-container rsg-testimonial-cards-block__arrow">
	            <i class="icon icon-hb-nx-nx-arrow-right-42"></i>
	          </span>
        </a>

      </div>

    </div>
  </div>

</section>



<div class="testimonials">
  <div class="testimonial-inner">
    <h1>Testimonial</h1>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src="https://images.pexels.com/photos/3211476/pexels-photo-3211476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          <div class="name">John Waddrob</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <p class="son9">The biggest plus of JaDon is its experience in organizing large and small events, successfully organized thousands of different events including birthday parties, reunions, product launches… </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="https://images.pexels.com/photos/3585325/pexels-photo-3585325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          <div class="name">John Waddrob</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p class="son9">The lively and attractive sound and light system, have made every event taking place at JaDon always leave an unforgettable impression in the audience. attendees' eyes.</p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="https://images.pexels.com/photos/2690323/pexels-photo-2690323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          <div class="name">John Waddrob</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <p class="son9">The dynamism, creativity and enthusiasm make the event organizers at JaDon always more impressive and attractive than other event organizers In addition, the enthusiasm and dedication </p>
        </div>
      </div>
    </div>
  </div>
</div>



<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
<h1>Your feelings about me</h1>


<div id="aishiteru" style="padding-left: 950px" >

  <div class="product-review-stars">
    <input type="radio" id="star5" name="rating" value="5" class="visuallyhidden" /><label for="star5" title="Rocks!">★</label>
    <input type="radio" id="star4" name="rating" value="4" class="visuallyhidden" /><label for="star4" title="Pretty good">★</label>
    <input type="radio" id="star3" name="rating" value="3" class="visuallyhidden" /><label for="star3" title="Meh">★</label>
    <input type="radio" id="star2" name="rating" value="2" class="visuallyhidden" /><label for="star2" title="Kinda bad">★</label>
    <input type="radio" id="star1" name="rating" value="1" class="visuallyhidden" /><label for="star1" title="Sucks big time">★</label>
  </div>
  <i class="fa fa-heart"></i>

</div>

<form id="contactForm" data-sb-form-api-token="API_TOKEN" style="background: #212529 ; padding-top: 50px ; padding-bottom: 50px ">
  <div class="row align-items-stretch mb-5">
    <div  class="col-md-6 " style="width: 45%">
      <div class="form-group">
        <!-- Name input-->
        <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" style="margin-bottom: 20px" />
        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
      </div>
      <div class="form-group">
        <!-- Email address input-->
        <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" style="margin-bottom: 20px" />
        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
      </div>
      <div class="form-group mb-md-0">
        <!-- Phone number input-->
        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" style="margin-bottom: 20px" />
        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group form-group-textarea mb-md-0">
        <!-- Message input-->
        <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required" style="height: 154px"></textarea>
        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
      </div>
    </div>
  </div>
  <!-- Submit success message-->
  <!---->
  <!-- This is what your users will see when the form-->
  <!-- has successfully submitted-->
  <div class="d-none" id="submitSuccessMessage">
    <div class="text-center text-white mb-3">
      <div class="fw-bolder">Form submission successful!</div>
      Thanks for your rating...
      <br />
      <a href="https://www.faceit.com/en/players/yrCtnoDybaB">https://www.faceit.com/en/players/yrCtnoDybaB</a>
    </div>
  </div>
  <!-- Submit error message-->
  <!---->
  <!-- This is what your users will see when there is-->
  <!-- an error submitting the form-->
  <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
  <!-- Submit Button-->
  <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
</form>
<i style="padding-left: 950px" class="fa fa-heart"></i>
