<footer class="footer py-4" >
    <div class="container">
        <div class="row align-items-center">
          <a class="navbar-brand" href="#page-top"><img  src="https://f27-zpc.zdn.vn/6579363412324733708/7c4795d4e3343a6a6325.jpg" alt="..." style="    width: 100px;
    float: left;" /></a>
            <div class="col-lg-4 text-lg-start">JADON is an event organizer with more than 10 years of experience, confident to bring customers a truly different service quality.</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">@Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">@Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
