<body><header class="section header top-page">
  <div class="container">

    <div class="top-page-left">
      <ul>
        <li> <a href="#">  Event </a></li>
        <li><a href="#"> Management </a>   </li>
        <li><a href="#"> Service </a>   </li>
      </ul>
    </div>
    <div class="top-page-right">
      <ul>
        <li> <a href="#"><i class="fa-solid fa-phone"></i>+84.881.9381.12</a></li>
        <li><i class="fa-solid fa-location-dot"></i>Số 8 Tôn Thất Thuyết, Nam Từ Liêm, HN </li>
      </ul>
    </div>

  </div>
</header>
<nav class="section navigation">
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Event
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Event 1</a></li>
                <li><a class="dropdown-item" href="#">Event 2</a></li>
                <li><a class="dropdown-item" href="#">Event 3</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Marriage
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Wedding</a></li>
                <li><a class="dropdown-item" href="#">Wedding Anniversaries</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Party
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Promotion Party</a></li>
                <li><a class="dropdown-item" href="#">Birthday Party</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gallery
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Promotion Party</a></li>
                <li><a class="dropdown-item" href="#">Wedding</a></li>
                <li><a class="dropdown-item" href="#">Anniversary</a></li>
                <li><a class="dropdown-item" href="#">Birthday Party</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </nav>

  </div>
</nav>
<section class="section main">
  <div class="container">
    <aside class="sidebarleft">
      <h2> side bar</h2>
    </aside>
    <article class="content">

      <h1> main content</h1>
      <app-home> </app-home>
      <app-EVPT> </app-EVPT>
    </article>

    <aside class="sidebarright">
      <h2> side bar</h2>
    </aside>

  </div>
</section>
<footer class="section footer">
  <div class="container">
    <h3>footer content</h3>
  </div>
</footer>

</body>
