  <!-- About-->
  <section class="page-section" id="about"  style="padding-top:170px;">
    <div class="container" style="padding-top: 200px">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/assets/img/about/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2009-2011</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted" style="margin-left: 1px">Desire to bring customers more feelings and meanings through the program. Enthusiastic members were determined to create JaDon with a whole new direction
                       MODERN - Always produce programs with new colors, applying top & professional technologies
                       MEANING - In each program, JTEAM always tries to create for customers a deep & settling experience. Sublimation according to many different levels of emotions</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/assets/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2011</h4>
                        <h4 class="subheading">An Agency is Born</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted" style="margin-left: 1px">Creating unique and creative Event products that leave a lot of emotions for attendees is what JaDon is always aiming for.
                      A team of many years in the field of production. Implement a variety of programs, understand the culture according to each business and industry.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/assets/img/about/3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2015</h4>
                        <h4 class="subheading">Transition to Full Service</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted" style="margin-left: 1px"> Print design - Event staging construction. Build ideas, implement concepts
                      Media: Taking pictures, filming, producing video clips for events & corporate communication activities
                      A team of many years in the field of communication and media. Implement a variety of programs, understand the culture according to each business and industry.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/assets/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted" style="margin-left: 1px">
                      Diverse with separate concepts for each type of program and event. Creating unique and creative Event products that leave a lot of emotions for attendees is what JaDon is always aiming for.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
  <section class="page-section bg-light" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">
          ENVIRONMENT - PASSION - ALL EXPERIENCE</h3>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://scontent.fhan17-1.fna.fbcdn.net/v/t39.30808-6/300954217_835898301112103_5168228382057090391_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_ohc=L8NcZ8WVWAAAX--DQrR&_nc_ht=scontent.fhan17-1.fna&oh=00_AfD3jE_B_gVTXV8jlqQaoP3lNVxa7pk9PqixPIlrSu82hQ&oe=6397633A" alt="..." />
            <h4>Nguyễn Đặng Thái Sơn</h4>
            <p class="text-muted">Lead Designer</p>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://scontent.fhan17-1.fna.fbcdn.net/v/t39.30808-6/298403698_1078949589689127_2377376130530768267_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_ohc=IkkrrUF-2L8AX-AKUaa&tn=WJ4hQ3noJsRI9Qpz&_nc_ht=scontent.fhan17-1.fna&oh=00_AfA7yjmlk77dpLBzyOgBpCYj8-xPBJ5UaL2LZCd8a6Ld_w&oe=63964AA7" alt="..." />
            <h4>Trần Bùi Thành</h4>
            <p class="text-muted">Lead Marketer</p>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://zpsocial-f51-org.zadn.vn/1ab17b69ce5920077948.jpg" alt="..." />
            <h4>Nguyễn Minh Khánh</h4>
            <p class="text-muted">Lead Communicator</p>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://zpsocial-f51-org.zadn.vn/c537d784774a9914c05b.jpg" alt="..." />
            <h4>Nguyễn Hoàng Nam</h4>
            <p class="text-muted">Lead Creators</p>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://zpsocial-f49-org.zadn.vn/fb924387f3ac1cf245bd.jpg" alt="..." />
            <h4>Nguyễn Cảnh Hiếu</h4>
            <p class="text-muted">Lead Developer</p>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="row" style="padding-left:  289px">
        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">
          Many meanings & interesting discoveries through each program. Each Concept has a distinctly different characteristic with activities revolving around the required topic, highlighting the values ​​& ultimate goals that the business sends.</p></div>
      </div>
    </div>
  </section>

