<div class="container" style="padding-top:200px;">
  <div class="row">
    <div class="col-2"></div>

      <div class="col-8" *ngFor=" let f of product">

          <h4 style="font-size: 60px; padding-top: 80px">{{f.EvTyName}}</h4>
          <img style="width: 600px; height: 432px" src="/../assets/assets/{{f.EvTyGalley}}">

            <p style="margin-top: -432px;
    margin-bottom: 27rem;
    margin-left: 615px;
    width: 500px;">{{f.EvTyDecs}}</p>
            <p style="margin-top: -432px;
    margin-bottom: 27rem;
    margin-left: 615px;
    width: 500px; font-size: 30px; font-weight: bold"> Expected Price : {{f.EPrice}} $ </p>

          </div>

    <div class="col-2"></div>
<div > <h4> Some Location for event </h4></div>
<div class="col-3" *ngFor=" let f of location" >
  <ul>
  <li>Location: {{f.NameLocal}}</li>
  <li>Address: {{f.Address}}</li>
     <li>Time Open: {{f.Time_Open}} </li>
     <li>Time Close: {{f.Time_Close}}</li>
     <li> Total Seat: {{f.TotalSeatQty}}</li>
     <li> Tel: {{f.Tel}}</li>
   </ul>
</div>

<div> <h4 > Service Package  </h4></div>
<div class="col-3 " *ngFor=" let f of service" >
  <ul>
    <li>Pack Name: {{f.NameServ}}</li>
    <li style="font-weight: bold">Price: {{f.ServPrice}} $ </li>
    <li>People Sevice: {{f.ServicePeople}} </li>
  </ul>
</div>





<div id="carouselExampleCaptions" class="carousel slide col-3 col-lg-3 col-xl-3 col-sm-3" data-bs-ride="false" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  src="../assets/assets/img/anh/concert1.jpg" class="d-block w-100 " alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 > Past Event</h5>
        <p> Click for Continue </p>
      </div>
    </div>
    <div class="carousel-item"  *ngFor="let item of event">
      <img  src="/../assets/assets/{{item.EvGalle}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <a href="#" routerLink="/detailEv/{{item.EventID}}">
          <h5 class="son7 ">{{item.EvName}}</h5>
        </a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>
</div>
<div class="col-6"></div>
