
.image-center{
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.section{
  float: left;
  width: 100%;
}

.container{
  float:none;
  width: 1200px;
  margin: 0 auto;
}
.sidebar{
  float: left;
  width: cal(25%-10px);
}
.content{
  float: left;
  width: 100%;
}
