<section class="wrapper-full tab-container effectTab-header" id="style_1" style="padding-top:300px;">
  <div class="wrapper tab-item">
    <div class="custom-row">
      <div class="wrapper " align="center">
        <h1 class="ti title" >Service</h1>
      </div>
      <div class="column-12 column-xs-12 column-sm-12 tab">
        <div class="custom-row">
          <div class="column-4 column-md-6 column-xs-12 hide-sm hide-md box-tab" *ngFor="let item of category">
            <div class="effect effect-one">
              <a href="#" routerLink="/detailEvTy/{{item.ID}}"> <img src="/../assets/assets/{{item.EvTyGalley}}" class="img-fluid">
              </a>

            </div>

            <div class="col-2 column-xs-2 col-sm-2 col-xl-2 col-lg-2">
              <p>{{item.EvTyName}}</p>
            </div>

          </div>

        </div> </div> </div></div> </section>

<div class="row panel" style="margin-top: -70px;padding-bottom: 50px;
">

  <div class="large-6 columns">
    <h2>Royal Event</h2>
    <div style="padding-left: 487px">

      <div class="bundle-items">
        <ul>
          <li>Do you need advice on organizing events?</li>
          <li class="point-2">Do you need the best solutions to carry out the event organization?</li>
          <li>Do you need to organize an event for your business?</li>
          <li>Do you need a professional event organizer?</li>
          <li>Do you need high-quality services?</li>
        </ul>
      </div>

      <h4>Call us now : 096 9669 246</h4>
      <a href="contact" class="small button text-center ">Contact us Now</a>
    </div>
  </div>

</div>
