*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  color: #222222;
  font-weight: 400;
  line-height: 1.35;
  background-color: #a8a2a2;
  font-family: 'Roboto Light',sans-serif;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.section{
  float: left;
  width: 100%;
}
.container{
  float:none;
  width: 1200px;
  margin: 0 auto;
}
.sidebar{
  float: right;
  width: 25%;
}
.content{
  float: right;
  width: 75%;
}
.footer li i{
  font-size: 50px;
  color: yellow;
}
.footer li i:hover{
  color: darkmagenta;
}

/* header css */

.top-page{
  background-color: #fdfdfd;
  border-bottom: 1px solid #9a9292;

}
.top-page-left{
  float: left;
}
.top-page-right{
  float: right;
}
li {
  list-style: none;
}
.top-page li{
  float: left;
}
.top-page-left li a{
  color: #423636;
  margin-right: 20px;
}
.top-page-left li a i{
  margin-right: 10px;
}
.top-page-right li a{
  color: #5d5555;
  margin-right: 20px;
}
.top-page-right li i{
  margin-right: 10px;
  color: #222222;
}

